body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #283149; /* Dark Blue Background */
    color: #dbe2ef; /* Light Gray Text Color */
}

header {
    background-color: #404b69; /* Slightly Lighter Blue for Header */
    color: #fff;
    padding: 1em 0;
    text-align: center;
    border-radius: 0 0 20px 20px; /* Curved Edges for Header */
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 0 20px;
}

h1, h2, h3 {
    color: #fff; /* White Text Color for Headings */
}

p {
    line-height: 1.6;
}

.project {
    margin-bottom: 2em;
    background-color: #404b69; /* Slightly Lighter Blue for Project Boxes */
    padding: 20px;
    border-radius: 10px; /* Curved Edges for Project Boxes */
}

footer {
    background-color: #404b69; /* Slightly Lighter Blue for Footer */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 20px 20px 0 0; /* Curved Edges for Footer */
}
